<table
  mat-table
  matSort
  matSortActive="cmcRank"
  matSortDirection="asc"
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  style="width: 100%"
>
  <!-- Watchlist Column -->
  <ng-container matColumnDef="watch_list">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>star_rate</mat-icon>
    </td>
  </ng-container>

  <!-- Rank Column -->
  <ng-container matColumnDef="cmcRank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
    <td mat-cell *matCellDef="let element">{{ element.cmcRank }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <div display="flex" class="flex-center">
        <img
          src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{
            element.id
          }}.png"
          class="coin-icon"
        />
        <div style="margin-left: 5px">{{ element.name }}</div>
        <div style="margin-left: 10px; color: gainsboro">
          {{ element.symbol }}
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">${{ element.price | number }}</td>
  </ng-container>

  <!-- Percent Change 24h Column -->
  <ng-container matColumnDef="percentChange24h">
    <th mat-header-cell *matHeaderCellDef>24 %</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="element.percentChange24h >= 0 ? 'green-txt' : 'red-txt'"
        class="display-flex"
      >
        <mat-icon>
          {{
            element.percentChange24h >= 0 ? "arrow_drop_up" : "arrow_drop_down"
          }}
        </mat-icon>
        {{ element.percentChange24h | number: "1.2-2" }}
      </span>
    </td>
  </ng-container>

  <!-- Percent change 7d Column -->
  <ng-container matColumnDef="percentChange7d">
    <th mat-header-cell *matHeaderCellDef>7d %</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="element.percentChange7d >= 0 ? 'green-txt' : 'red-txt'"
        class="display-flex"
      >
        <mat-icon>
          {{
            element.percentChange7d >= 0 ? "arrow_drop_up" : "arrow_drop_down"
          }}
        </mat-icon>
        {{ element.percentChange7d | number: "1.2-2" }}
      </span>
    </td>
  </ng-container>

  <!-- Market Cap Column -->
  <ng-container matColumnDef="marketCap">
    <th mat-header-cell *matHeaderCellDef>Market Cap</th>
    <td mat-cell *matCellDef="let element">
      ${{ element.marketCap | number }}
    </td>
  </ng-container>

  <!-- Voumne 24h Column -->
  <ng-container matColumnDef="volume24h">
    <th mat-header-cell *matHeaderCellDef>Voumne(24)</th>
    <td mat-cell *matCellDef="let element">
      ${{ element.volume24h | number }}
    </td>
  </ng-container>

  <!-- Circulating Supply Column -->
  <ng-container matColumnDef="totalSupply">
    <th mat-header-cell *matHeaderCellDef>Circulating Supply</th>
    <td mat-cell *matCellDef="let element">
      {{ element.total_supply | number }} {{ element.symbol }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        [matMenuTriggerFor]="menu"
        class="ml-2"
        color="primary"
        mat-icon-button
        type="button"
      >
        <mat-icon>density_small</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span> View Charts </span>
        </button>
        <button mat-menu-item>
          <span> View Markets </span>
        </button>
        <button mat-menu-item>
          <span> View Historical Data </span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
